
.header {
  font-size: 28px;
  background-color: brown;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.form {
  margin-top: 50px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 25px;
}

.header {
  font-size: 28px;
  background-color: burlywood;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.container {
  width: 600px;
  margin: 25px Auto;
  background-color: rgb(245, 245, 245);
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}
