<header class="header">
  switchMap - callback hell
</header>
<main class="container form">
  <section class="" *ngIf="places">
    <ng-container *ngFor="let place of places">
      <div>
        {{ place.country }} - {{ place.city }}
      </div>
    </ng-container>
  </section>
  <hr>
</main>
    